<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<ModulePrefs title="Soundcloud for Hangouts">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[     

<html>
<script type="text/javascript" src="assets/base.js"></script>
<link rel="stylesheet" type="text/css" href="assets/base.css">
<body>

<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>

<input type="text" onkeydown="if (event.keyCode == 13) { createEmbededSound(); return false; }"/>

<div id="playing" style="visibility: hidden"></div>

</body>
]]>
</Content>
</Module>

