<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="Soundcloud for Hangouts">
		<Require feature="dynamic-height" />
		<Require feature="rpc" />
		<Require feature="views" />
	</ModulePrefs>
	<Content type="html"><![CDATA[    
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="//connect.soundcloud.com/sdk.js"></script>

<script type="text/javascript" src="assets/base.js"></script>
<link rel="stylesheet" type="text/css" href="assets/base.css">

<body>
	<object type="image/svg+xml" data="assets/icon.svg"></object>
	<input type="text" size="40" onkeydown="if (event.keyCode == 13) { createEmbededSound(event); return false; }"/>
	<table>
		<thead>
		  <tr id="player">
		      <th>Please paste a Soundcloud URL in the search box!<th>
		  </tr>
		 </thead>
		 <tbody id="queue">
		 </tbody>
	</table>
</body>
]]>
	</Content>
</Module>

